<a href="https://colab.research.google.com/github/mohamedhajja/MOHAMEDHAJJA/blob/main/Trailblazers%20Qualification%20Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import lightgbm as lgb
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error


#import dtale.app as dtale_app

#dtale_app.USE_COLAB = True
import gc as memory_free

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

<h1><center> import data </center></h1>

In [ ]:
train_data=pd.read_csv("/content/drive/MyDrive/WAICF - Data Challenge.csv")
test_data=pd.read_csv("/content/drive/MyDrive/WAICF - Data Challenge (1) test.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2,3,4,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
train_data.head()

,accident_id,year,longitude,latitude,department,accident_type,road_category,address_nbr,traffic_type,speed_limitation,...,road_condition,obstacle_hit_type,person_type,person_sex,vehicule_type,principal_maneuver_before_accident,vehicule_motor_type,day,month,country
0,x01600000001,2016.0,0.0,0.0,590,1,3.0,39.0,2.0,NaN,...,1.0,0.0,1.0,2.0,7.0,1.0,NaN,1.0,2.0,A
1,x01600000001,2016.0,0.0,0.0,590,1,3.0,39.0,2.0,NaN,...,1.0,0.0,1.0,2.0,2.0,15.0,NaN,1.0,2.0,A
2,x01600000001,2016.0,0.0,0.0,590,2,3.0,39.0,2.0,NaN,...,1.0,0.0,1.0,1.0,7.0,1.0,NaN,1.0,2.0,A
3,x01600000001,2016.0,0.0,0.0,590,2,3.0,39.0,2.0,NaN,...,1.0,0.0,1.0,1.0,2.0,15.0,NaN,1.0,2.0,A
4,x0160000000x,2016.0,0.0,0.0,590,2,3.0,39.0,1.0,NaN,...,1.0,6.0,1.0,1.0,7.0,1.0,NaN,16.0,3.0,A

<h1><center> replace ,</center></h1>

In [ ]:
train_data[['longitude','latitude']]= train_data[['longitude','latitude']].replace(',','.',regex=True).astype(float)
test_data[['longitude','latitude']]= test_data[['longitude','latitude']].replace(',','.',regex=True).astype(float)

<h1><center> drop_duplicates</center></h1>

In [ ]:
train_data=train_data.drop_duplicates()


<h1><center> drop 'accident_id','address_nbr'</center></h1>

In [ ]:
test_data.drop(['accident_id','address_nbr'], axis = 1, inplace = True)

In [ ]:
train_data.drop(['accident_id','address_nbr'], axis = 1, inplace = True)

#### .


<h1><center> replase values of country col</center></h1>

In [ ]:
test_data["country"]=test_data["country"].replace(['A',"B"],[1,2])

In [ ]:
train_data["country"]=train_data["country"].replace(['A',"B"],[1,2])


<h1><center> replase values of country col</center></h1>

In [ ]:

test_data['speed_limitation'] = test_data['speed_limitation'].replace(['300'],test_data['speed_limitation'].median())

test_data['speed_limitation'] = test_data['speed_limitation'].replace(['500'],test_data['speed_limitation'].median())


  <h1><center> REP_outlier </center></h1>

test

In [ ]:
def REP_out_trin(df):
  out_speed_trin=[500, 560, 600, 700, 800]
  out_alt_trin=[-508705, -507390, -477113, -477098, -476696, -476502, -476236, -476034, -475770, -475080, -475006, -474791, -474194, -474082, -472974, -472417, -472344, -472229, -472030, -471986, -471956, -471900, -471832, -471795, -470924, -470752, -469843, -469801, -469687, -469619, -469454, -469248, -468991, -468977, -468833, -468639, -468540, -468312, -468056, -467782, -467467, -467166, -467103, -467068, -467055, -467052, -466998, -466987, -466802, -466653, -466339, -466311, -466057, -465834, -465440, -465426, -465366, -465179, -465013, -464805, -464600, -464459, -464320, -464148, -463670, -463652, -463335, -463082, -462951, -462938, -462682, -462641, -462621, -462483, -462296, -462284, -462191, -462065, -462021, -461850, -461827, -461790, -461734, -461539, -461151, -461075, -460753, -460521, -460125, -460051, -460037, -459783, -459561, -459156, -459123, -459114, -458838, -458277, -457894, -457879]
  for i in (out_speed_trin):
    df['speed_limitation'] = df['speed_limitation'].replace([i],df['speed_limitation'].median())
  for j in (out_alt_trin):
    df['longitude'] = df['longitude'].replace([j],df['longitude'].median())
  return df

In [ ]:
train_data=REP_out_trin(train_data)

trean

In [ ]:

def REP_out(df):

  
  df['department'] = df['department'].replace([str('2B')],1)
  df['department'] = df['department'].replace([str('2A')],1)


  return df

In [ ]:
train_data=REP_out(train_data)

In [ ]:
test_data=REP_out(test_data)

# ,
## 
  <h1><center> replase nun val </center></h1>

In [ ]:
def replase_val(df): 
    for i in(df.columns) :
      if (df[i].isna().sum()!=0):

          df[i] = df[i].fillna(df[i].median())
    return df

In [ ]:
train_data =replase_val(train_data)

In [ ]:
test_data =replase_val(test_data)

# types change

In [ ]:
types_trin={"department"     : 'float64',
        'year'               :'float64',
       'longitude':'float64',
       'latitude':'float64',
       'accident_type':'int64',
       'road_category':'int64',  
       'traffic_type':'float64',
       'speed_limitation':'float64', 
       'intersection':'float64', 
       'pedestrian_localisation':'float64',
       'light_condition':'float64', 
       'weather_conditions':'float64', 
       'road_condition':'float64', 
       'obstacle_hit_type':'float64', 
       'person_type':'int64', 
       'person_sex':'float64', 
       'vehicule_type':'float64', 
       'principal_maneuver_before_accident':'float64',
       'vehicule_motor_type':'float64', 'day':'int64',
       'month':'int64', 'country':'int64'}

In [ ]:
train_data=train_data.astype(types_trin)

In [ ]:
types_test={"department"      : 'float64',
            'year'            :'float64', 
            'longitude'       :'float64', 
            'latitude'        :'float64',
            'road_category'   :'int64', 
            'traffic_type'    :'float64', 
            'speed_limitation':'float64',
            'intersection'    :'float64', 
            'pedestrian_localisation':'float64', 
            'light_condition'   :'float64',
            'weather_conditions':'float64', 
            'road_condition'    :'float64',
            'obstacle_hit_type' :'float64',
            'person_type'       :'int64', 
            'person_sex'        :'float64', 
            'vehicule_type'     :'float64', 
            'principal_maneuver_before_accident':'float64', 
            'vehicule_motor_type'               :'float64', 
            'day'                               :'int64',
            'month'                             :'int64', 
            'country'                           :'int64'}

In [ ]:
test_data=test_data.astype(types_test)

# ;

# corelation

In [ ]:
train_data.corr()['accident_type'].sort_values(ascending=False)

accident_type                         1.000000
obstacle_hit_type                     0.076008
person_type                           0.057882
latitude                              0.057404
speed_limitation                      0.045773
department                            0.030440
longitude                             0.028633
light_condition                       0.022612
vehicule_type                         0.017282
pedestrian_localisation               0.012402
day                                   0.003506
month                                 0.000909
year                                  0.000662
road_condition                       -0.001957
weather_conditions                   -0.003921
vehicule_motor_type                  -0.012622
traffic_type                         -0.022959
principal_maneuver_before_accident   -0.032057
road_category                        -0.035296
intersection                         -0.035534
country                              -0.061035
person_sex                           -0.066469
Name: accident_type, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x= train_data.drop(["accident_type"],axis=1)
y = train_data.accident_type

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=20)

# ,
## model
# ,

In [ ]:
cols = X_train.columns

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])
X_train.describe()

,year,longitude,latitude,department,road_category,traffic_type,speed_limitation,intersection,pedestrian_localisation,light_condition,...,road_condition,obstacle_hit_type,person_type,person_sex,vehicule_type,principal_maneuver_before_accident,vehicule_motor_type,day,month,country
count,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,...,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06,1.383524e+06
mean,-5.875711e-14,2.540737e-16,1.472702e-16,2.480188e-17,1.644984e-15,1.297936e-15,4.008289e-15,9.030952e-16,-2.371228e-15,3.809047e-15,...,-4.221741e-15,8.819496e-15,-1.818963e-14,2.923542e-15,2.823766e-15,-6.344643e-15,-5.057732e-15,-8.683001e-17,-5.620383e-16,-3.557436e-16
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.282670e+00,-1.221720e+00,-5.833268e-01,-6.648361e-01,-1.929715e+00,-2.279593e+00,-2.457140e+00,-6.254785e-01,-1.110270e+00,-1.835428e+00,...,-2.830531e+00,-7.020834e-01,-5.373810e-01,-4.897292e+00,-1.084846e+00,-9.795018e-01,-1.795940e+00,-1.687002e+00,-1.653502e+00,-1.204849e+00
25%,-1.282670e+00,-2.192697e-01,-5.832714e-01,-6.154351e-01,-5.239400e-01,-8.606312e-01,-5.149028e-01,-2.596400e-01,-1.212094e-01,-5.851565e-01,...,-3.623740e-01,-2.118375e-01,-5.373810e-01,-7.283345e-01,-3.519252e-01,-7.435766e-01,-2.211062e-02,-8.833717e-01,-7.697364e-01,-1.204849e+00
50%,-3.897134e-01,-2.192662e-01,-5.832708e-01,-5.166330e-01,-5.239400e-01,-3.876441e-01,-5.149028e-01,-2.596400e-01,-1.212094e-01,-5.851565e-01,...,-3.623740e-01,-2.118375e-01,-5.373810e-01,-7.283345e-01,-1.686950e-01,-3.580090e-02,-2.211062e-02,3.506245e-02,1.140295e-01,8.299794e-01
75%,5.032431e-01,-2.192587e-01,1.499598e+00,1.881547e-01,1.789474e-01,1.031317e+00,7.381533e-01,1.061984e-01,-1.212094e-01,6.651146e-01,...,-3.623740e-01,-2.118375e-01,1.112292e+00,1.356144e+00,-1.686950e-01,5.146913e-01,-2.211062e-02,8.386923e-01,9.977953e-01,8.299794e-01
max,1.396200e+00,1.412550e+01,2.138021e+00,2.585751e+00,3.693385e+00,2.450279e+00,5.750378e+00,1.766644e+01,8.780334e+00,3.165657e+00,...,9.510255e+00,8.122343e+00,4.411638e+00,1.594750e+01,8.076666e+00,6.884673e+00,9.733949e+00,1.757126e+00,1.586973e+00,8.299794e-01

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
from sklearn.metrics import balanced_accuracy_score
accuracy=balanced_accuracy_score(y_pred, y_test)
print('LightGBM Model accuracy score: {0:0.4f}'.format(balanced_accuracy_score(y_test, y_pred)))

In [ ]:


from sklearn.ensemble import RandomForestClassifier
from sklearn import svm, tree
import xgboost
from catboost import CatBoostClassifier

In [ ]:
classifiers=[]
'''model1 = xgboost.XGBClassifier()

classifiers.append(model1)'''
model2 = svm.SVC()
classifiers.append(model2)
model3 = tree.DecisionTreeClassifier()
classifiers.append(model3)
model4 = RandomForestClassifier()
classifiers.append(model4)

In [ ]:
from sklearn.metrics import balanced_accuracy_score
for clf in classifiers:
    clf.fit(X_train, y_train)
    y_pred= clf.predict(X_test)
    acc = balanced_accuracy_score(y_test, y_pred)
    print("Accuracy of %s is %s"%(clf, acc))

In [ ]:
acc = balanced_accuracy_score(y_test, y_pred)
print("Accuracy of %s is %s"%(clf, acc))

# ,
<h1>                <center>  submet file </center></h1>
# ,

In [ ]:
y_pred1 =svc.predict(test_data)

In [ ]:
test_data["accident_type"] = y_pred1
submission = pd.DataFrame(data={'trustii_id': test_data["trustii_id"], 'accident_type': test_data["accident_type"]})
submission.to_csv('sub_waicf_rusboost.csv', index=False)